/* // Custom Reset CSS by Elly Loel - https://ellyloel.com/
// Converted to SASS and made compatible with CSS Modules */

.blog {
  & > * {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    
    &, &::before, &::after {
      box-sizing: border-box;
    }
  }

  & *:not(fieldset, progress, meter) {
    border-width: 0;
    border-style: solid;
    background-origin: border-box;
    background-repeat: no-repeat;
  }

  & html {
    block-size: 100%;
    -webkit-text-size-adjust: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    & html:focus-within {
      scroll-behavior: smooth;
    }
  }

  & body {
    text-rendering: optimizeSpeed;
    min-block-size: 100%;
  }

  & img, & svg, & video, & canvas, & audio, & iframe, & embed, & object {
    display: block;
  }

  & img, & svg, & video {
    block-size: auto;
    max-inline-size: 100%;
  }

  & svg {
    stroke: none;
    fill: currentColor;

    &:not([fill]) {
      stroke: currentColor;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &:not([width]) {
      inline-size: 5rem;
    }
  }

  & input, & button, & textarea, & select,
  & input[type="file"]::-webkit-file-upload-button {
    color: inherit;
    font: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
  }

  & textarea {
    resize: vertical;
  }

  @supports (resize: block) {
    & textarea {
      resize: block;
    }
  }

  & p, & h1, & h2, & h3, & h4, & h5, & h6 {
    overflow-wrap: break-word;
  }

  & h1 {
    font-size: 2em;
  }

  & h2 {
    font-size: 1.75em;
  }

  & h3 {
    font-size: 1.5em;
  }

  & h4 {
    font-size: 1em;
  }

  & h5 {
    font-size: 0.83em;
  }

  & h6 {
    font-size: 0.67em;
  }

  & ul, & ol {
    list-style-position: inside;

    &[role="list"] {
      list-style: none;
    }
  }

  & a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  & a[href], & area, & button, & input, & label[for], & select, & summary, & textarea, & [tabindex]:not([tabindex*="-"]) {
    cursor: pointer;
    touch-action: manipulation;
  }

  & input[type="file"] {
    cursor: auto;

    &::-webkit-file-upload-button,
    &::file-selector-button {
      cursor: pointer;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    & :focus-visible {
      transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
    }
    & :not(:active):focus-visible {
      transition-duration: 0.25s;
    }
  }

  & :not(:active):focus-visible {
    outline-offset: 5px;
  }

  & button, & button[type], & input[type="button"], & input[type="submit"], & input[type="reset"],
  & input[type="file"]::-webkit-file-upload-button,
  & input[type="file"]::file-selector-button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    text-align: center;
  }

  & button[disabled], & button[type][disabled], & input[type="button"][disabled], & input[type="submit"][disabled], & input[type="reset"][disabled] {
    cursor: not-allowed;
  }
}
